{% block paragraph %}
  <section class="container mx-auto flex flex-row flex-wrap md:place-content-center gap-y-4 my-9 md:my-24 lg:my-32 px-3">
    {% block content %}
      {{ content }}
    {% endblock %}
  </section>
{% endblock paragraph %}
