<button id="btnMinimizeChat"class="btn-icon"><span id="minimize"><i class="icon fa-solid fa-window-minimize"></i><span class="sr-only">{{ 'Minimize'|t }}</span></span><span id="maximize" class="hidden"><i class="icon fa-solid fa-window-maximize"></i><span class="sr-only">{{ 'Maximize'|t }}</span></span></button>
