<button id="btnMinimizeChat"class="btn-icon"><span id="minimize"><i class="icon fa-solid fa-window-minimize">{{ 'Minimize'|t }}</i></span><span id="maximize" class="hidden"><i class="icon fa-solid fa-window-maximize">{{ 'Maximize'|t }}</i></span></button>
