<div id="globalNavigation" class="hidden">
  <div role="nav" class="bg-primary text-primary absolute top-0 left-0 w-96 shadow-sm p-5 h-screen z-20 rounded-sm border">
    <header class="flex">
      <div>
        Logo
      </div>
      <button class="ms-auto" id="btnCloseGlobalNavigation">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </header>
    <main>
      {{ page.global_navigation_menu }}
    </main>
  </div>
  <div id="backdrop" class="bg-primary opacity-50 w-100 h-100 absolute top-0 bottom-0 left-0 right-0 z-10">
  </div>
</div>
