<header role="banner" class="bg-stone-50 dark:bg-stone-950 dark:text-white flex">

  {{ include(directory ~ '/templates/components/nav-button.html.twig') }}

  <div class="brand dark:text-white">
    {{ page.header.ai_launchpad_sitebranding }}
    {# TODO: AI logo #}
  </div>

  <div class="breadcrumb">
    {{ page.header.ai_launchpad_breadcrumbs }}
  </div>

  <div class="chat-search">
    {# TODO: chat-search #}
  </div>

  <div class="Secondary brand">
    {# TODO: Secondary brand #}
  </div>

  <pre>
    {{ dump(page.header) }}
  </pre>

</header>
