<header role="banner" class="bg-stone-50 dark:bg-stone-950">

  <div class="nav-button">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="brand">
    {# TODO: AI logo #}
  </div>

  <div class="breadcrumb">
    {{ page.breadcrumb }}
  </div>

  <div class="chat-search">
    {# TODO: chat-search #}
  </div>

  <div class="Secondary brand">
    {# TODO: Secondary brand #}
  </div>

  {{ page.header }}
</header>
