@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Define common background colors */
  .bg-primary {
    @apply bg-stone-50 dark:bg-stone-950;
  }
  .bg-secondary {
    @apply bg-stone-100 dark:bg-stone-900;
  }
  .bg-brand {
    @apply bg-teal-600 dark:bg-teal-700;
  }

  /* Define common text colors */
  .text-primary {
    @apply text-stone-950 dark:text-stone-50;
  }
  .text-secondary {
    @apply text-stone-600 dark:text-stone-300;
  }
  .text-brand {
    @apply text-teal-700 dark:text-teal-600;
  }

  /* Define common border colors */
  .border-primary {
    @apply border-stone-400 dark:border-stone-600;
  }
  .border-secondary {
    @apply border-stone-200 dark:border-stone-500;
  }
  .border-brand {
    @apply border-teal-700 dark:border-teal-600;
  }

  /* Define common buttons */
  .btn-default {
    @apply border border-secondary bg-secondary text-secondary rounded px-3 py-2 min-h-9 hover:bg-stone-200 hover:dark:bg-stone-800;
  }
  .btn-icon {
    @apply btn-default px-2 py-1;
  }

  /* Icons sizes */
  .icon {
    @apply w-5;
  }

  /* Chat messages */
  .chat-message-container-you {
    @apply flex gap-1 flex-col items-end;
  }
  .chat-message-container-bot {
    @apply flex gap-1 flex-col items-start;
  }
  .chat-message-container-info {
    @apply flex gap-1 items-start;
  }
  .chat-message-variant-you {
    @apply min-h-9 content-center flex-auto rounded px-3 py-2 text-white bg-sky-700 text-right max-w-xl;
  }
  .chat-message-variant-bot {
    @apply min-h-9 content-center flex-auto rounded px-3 py-2 text-black bg-purple-200 max-w-xl;
  }
  .chat-message-variant-info {
    @apply min-h-9 content-center text-secondary;
  }
  .chat-message-info-type {
    @apply font-semibold capitalize;
  }

}

/* Fixed position for chat window*/
.fixed {
  position: fixed;
}

/* Text with color gradient */
.text-brand-gradient {
  color: #6B21A8;
  background-image:
  -webkit-linear-gradient(0deg, #6B21A8 27%, #1D4ED8 58%, #0F766E 85%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

/*
** To have chat aligned to bottom we do this since ´justify-content: flex-end;` breaks scrolling
** https://stackoverflow.com/questions/36130760/use-justify-content-flex-end-and-to-have-vertical-scrollbar
*/
.chat-window main > :first-child {
  margin-top: auto !important;
  /* use !important to prevent breakage from child margin settings */
}

